.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100vw - 20px);
    margin: 20px 10px;
    box-sizing: border-box;
    background-color: #333;
    border-radius: 10px 2px;
    border: solid 3px #2faaf1;
    box-shadow: 0 0 0.5px #0f9ad1, 0 0 1.25px #0f9ad1, 0 0 2.5px #0f9ad1, 0 0 5px #0f9ad1, 0 0 7.5px #0f9ad1;
    transition: linear 0.4s;
}

.container:active, .container:hover, .container:focus {
    box-shadow: 0 0 1px #0f9ad1, 0 0 2.5px #0f9ad1, 0 0 5px #0f9ad1, 0 0 10px #0f9ad1, 0 0 15px #0f9ad1;
}

.container > input {
    background-color: #333;
    border-radius: 10px 2px;
    caret-color: #FFE81F;
    font-size: 20px;
    border: none;
    padding: 10px;
    min-width: 300px;
    flex-grow: 1;
}

.container > input, .container > input:active, .container > input:focus {
    outline: none;
}

.container > span {
    color: white;
    margin: 0 15px;
    cursor: pointer;
}